<h3>Tiny URLs</h3>

<% if @urls.empty? %>
  <p>There's no URLs yet.</p>
  <%= link_to "Create URL", new_url_path %>
<% else %>
  <% @urls.each do |url| %>
    <ul>
      <li>Short URL: <%= link_to "#{Url::BASE_URL}#{url.short_url}", "#{Url::BASE_URL}#{url.short_url}" %></li>
      <li>Original URL: <%= link_to url.original_url, url.original_url %></li>
      <li>Visited: <%= url.visited %> times</li>
      <li>
        <time datetime="<%= url.formatted_date %>">Created:
          <%= url.formatted_date %>
        </time>
      </li>
    </ul>
    <hr>
  <% end %>
<% end %>
